.dice {
  display: inline-block;
  margin: 2px;
  width: 40px;
  height: 40px;
  border: 1px solid black;
  border-radius: 4px;

  div {
    width: 50%;
    margin: 0 auto;
    padding: 33% 0;
    text-align: center;
  }

  @for $i from 1 through 6 {
    &_#{$i} {
      height: 10px;
      width: 10px;
      background-color: #bbb;
      border-radius: 50%;
      display: inline-block;
    }
  }
}
